<div class="row">

	<div class="span12">
		<table class="table">
			<thead>
				<tr>
					<th>Image</th>
					<th class="desc">Description</th>
					<th>Quantity</th>
					<th>Unit Price</th>
					<th>Sub Price</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			<% @order.order_items.each do |oi| %>
				<tr>
					<td>
						<a href="/productdetails?productid=<%= oi.product.id %>"><img width="92px" src="products/<%= oi.product.img %>" alt="<%= oi.product.name %>" style="width: 92px;"></a>
					</td>
					<td class="desc">
						<h4><a href="/productdetails?productid=<%= oi.product.id %>" class="invarseColor">
							<%= oi.product.name %>
						</a></h4>
						<%= erb(:stars,:locals => { :stars => oi.product.review_stars }) %>
						<br>
						<ul class="unstyled">
							<li>Available In Stock</li>
						</ul>
					</td>
					<td class="quantity">
						<h2><%= oi.quantity %></h2>
					</td>
					<td class="sub-price">
						<h2>$<%= oi.unit_price %></h2>
					</td>
					<td class="total-price">
						<h2>$<%= oi.total_price %></h2>
					</td>
					<td>
						<form action="/remove-item" method="post" style="display:inline">
							<input type="hidden" name="order_item_id" value="<%= oi.id %>"/>
							<button class="btn btn-small btn-danger" data-title="Remove" data-placement="top" data-toggle="tooltip"><i class="icon-trash"></i></button>
						</form>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div><!--end span12-->

	<% if @order.order_items.size>0 %>
	<div class="span7">
		<div class="checkout-outer" style="margin-top:18px">
			<div class="checkout-content">
				<form method="post" action="/apply-coupon" class="form-horizontal" style="margin-bottom: 0px">
				  <div class="control-group">
				    <label class="control-label" for="coupon">
				    	<strong>Coupon Code</strong>
				    	</label>
				    <div class="controls">
				      <input type="text" id="coupon" name="coupon" placeholder="Enter Coupon Code...">
				    </div>
				  </div><!--end control-group-->
				  <div class="control-group" style="margin-bottom: 0px">
				    <div class="controls">
				      <button type="submit" class="btn btn-primary">Apply Coupon</button>
				    </div>
				  </div><!--end control-group-->
				</form>
			</div>
		</div>
	</div><!--end span7-->


	<div class="span5">
		<div class="cart-receipt">
			<table class="table table-receipt">
				<tr>
					<td class="alignRight">Items (<%= @order.products_count%>):</td>
					<td class="alignLeft">$<%= @order.subtotal_items%></td>
				</tr>
				<tr>
					<td class="alignRight">Discound:</td>
					<td class="alignLeft">($<%= @order.discount %>)</td>
				</tr>
				<tr>
					<td class="alignRight"><h2>Total:</h2></td>
					<td class="alignLeft"><h2>$<%= @order.total %></h2></td>
				</tr>
				<tr>
					<td class="alignRight" style="background: none"><a class="btn" href="/">Continue Shopping</a></td>
					<td class="alignLeft" style="background: none"><a class="btn btn-primary" href="/shipping">Proceed To Checkout</a></td>
				</tr>
			</table>
		</div>
	</div><!--end span5-->
	<% else %>
	<div class="span5">
		<br/>
		<h3>Your shopping cart is empty</h3>
	</div>
	<% end %>

</div><!--end row-->