<div class="row">
	<div class="span12">
		<div class="titleHeader clearfix">
			<h2>Products</h2>
		</div>
	</div>
</div>
<div class="row">
	<ul class="listProductItems clearfix">
	<% @products.each do |product| %>
		<li class="clearfix">
			<div class="span3">
				<div class="thumbnail">
					<a href="/productdetails?productid=<%= product.id %>"><img src="products/<%= product.img %>" alt="<%= product.name %>"></a>
				</div>
			</div>
			<div class="span9">
				<div class="thumbSetting">
					<div class="thumbTitle">
						<a href="/productdetails?productid=<%= product.id %>" class="invarseColor">
							<%= product.name %>
						</a>
					</div>
					<div class="thumbPriceRate clearfix">
						<span>$<%= product.price %></span>
					</div>
					<div class="thumbRating clearfix">
						<%= erb(:stars,:locals => { :stars => product.review_stars }) %>
						<strong><%= product.product_reviews.size %> Reviews</strong>
					</div>
					<div class="thumbDesc">
						<p>
							<%= product.description %> [ <a href="#" data-title="Read More" data-toggle="tooltip" data-placement="top">...</a> ]
						</p>
					</div>

					<div class="thumbButtons">
						<form action="/add_to_cart" method="post" style="display:inline">
							<input type="hidden" name="product_id" value="<%= product.id %>"/>
							<input type="hidden" name="quantity" value="1"/>
							<button class="btn btn-primary btn-small" type="submit">
								<i class="icon-shopping-cart"></i>
								Add To Cart
							</button>
						</form>
						<button class="btn btn-small" data-title="+To WishList" data-placement="top" data-toggle="tooltip">
							<i class="icon-heart"></i>
						</button>
					</div>
				</div>
			</div>
		</li>
		<% end %>
	</ul>
</div>