<div class="container">

	<div class="row">
		<div class="span4">
			<div class="checkout-outer">
				<div class="checkout-content">
					<h3>Products</h3>
					<ul class="vProductItemsTiny">
					<% @order.order_items.each do |oi| %>
						<li class="span4 clearfix">
							<div class="thumbImage">
								<a href=""><img src="img/92x92.jpg" alt=""></a>
							</div>
							<div class="thumbSetting">
								<div class="thumbTitle">
									<span><%= oi.product.name %></span>
								</div>
								<div class="thumbPrice">
									<span>$<%= oi.unit_price %></span>
								</div>
								<div class="thumbQuantity">
									<span> Quantity: </span><%= oi.quantity %>
								</div>
							</div>
						</li>
					<% end %>
					</ul>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="checkout-outer">
				<div class="checkout-content">
					<div class="product-set">
						<h3>Address</h3>
						<ul class="unstyled">
							<li><%= @order.shipping_detail.full_name %></li>
							<li><%= @order.shipping_detail.address_line %></li>
							<li><%= @order.shipping_detail.city %></li>
							<li><%= @order.shipping_detail.country %></li>
						</ul>	
						<h3>Delivery Option</h3>
						<ul class="unstyled">
							<li><%= @order.shipping_detail.delivery_option.name %></li>
						</ul>	
						<h3>Estimated delivery</h3>
						<ul class="unstyled">
							<li class="estimatedDelivery"><%= @order.shipping_detail.delivery_option.delivey_date %></li>
						</ul>			
					</div>					
				</div><!--end checkout-content-->
			</div><!--end checkout-outer-->
		</div><!--end span12-->
		<div class="span4">
			<div class="checkout-outer">
				<div class="checkout-content">
					<h3>Order Summary</h3>
					<div class="place-order">
						<table class="table table-receipt">
							<tbody><tr>
								<td class="alignRight">Items (<%= @order.products_count%>):</td>
								<td class="alignLeft">$<%= @order.subtotal_items%></td>
							</tr>
							<tr>
								<td class="alignRight">Discound:</td>
								<td class="alignLeft">($<%= @order.discount %>)</td>
							</tr>
							<tr>
								<td class="alignRight">Shipping:</td>
								<td class="alignLeft">$<%= @order.shipping_cost%></td>
							</tr>
							<tr>
								<td class="alignRight"><h2>Total:</h2></td>
								<td class="alignLeft"><h2>$<%= @order.total%></h2></td>
							</tr>
							<tr>
								<td colspan="2">
								<form method="post" action="/place-order" class="form-horizontal">
									<button class="btn btn-primary">Place Your Order</button></td>
								</form>
							</tr>
						</tbody></table>
					</div>
				</div>
			</div>
		</div>
	</div><!--end row-->

</div><!--end conatiner-->